<h1>Ag Grid Table</h1>

<ag-grid-angular
  #agGrid
  style="width: 1500px; height: 1000px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [enableRangeSelection]="true"
  rowSelection="multiple"
  editType="fullRow"
  [suppressClickEdit]="true"
  [animateRows]="true"
  [rowMultiSelectWithClick]="true"
  (rowSelected)="onRowSelected($event)"
  (cellClicked)="onCellClicked($event)"
  (rowEditingStopped)="onRowEditingStopped($event)"
  (rowEditingStarted)="onRowEditingStarted($event)"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [defaultColDef]="defaultColDef"
  [groupUseEntireRow]="true"
  (gridReady)="onGridReady($event)"
  >
  <!-- (groupRowRenderer)="groupRowRenderer($event)" -->
  <!-- [gridOptions]="gridOptions" -->
    
    
    <!-- tree data -->
    <!-- [treeData]="true"
    [getDataPath]="getDataPath"
    [groupDefaultExpanded]="groupDefaultExpanded" -->


    <!-- [groupSelectsChildren]="true" -->
    <!-- [groupSelectsChildren]="getNodeChildDetails" -->
    <!-- (cellValueChanged)="onCellValueChanged($event)" -->
  </ag-grid-angular>

<div *ngFor="let item of selectedData">
  <p>{{ item.athlete }} {{ item.age }}</p>
</div>

<h1>Prime ng Table</h1>

<!-- <router-outlet></router-outlet> -->
<app-prime-table></app-prime-table>