@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.drop-down-wrapper {
    position: relative;

    .fa-caret-down {
        position: absolute;
        right: 5px;
        top: 16px;
    }
}
